.aboutPage .showcase {
    background: url(/img/about/bg_2.png) no-repeat;
    background-position: left;
    background-size: cover;
    padding-top: 72px;
    padding-bottom: 124px;
    color: rgba(255, 255, 255, 0.863);
}
.aboutPage .showcase p {
    color: rgba(255, 255, 255, 0.863);
}
.aboutPage .showcase h4 {
    color: #48d8e2;
    font-size: 30px;
    margin-bottom: 20px;
}
.aboutPage .showcase .content {
    max-width: 560px;
    margin-right: 80px;
    margin-left: auto;
}
.aboutPage .showcase .checks {
    display: block;
    margin-top: 30px;
}
.aboutPage .showcase .checks .item {
    display: inline-block;
    margin-bottom: 24px;
    margin-right: 45px;
}
.aboutPage .showcase .checks span {
    vertical-align: middle;
    margin-right: 10px;
}
.aboutPage .section2 {
    padding: 70px 0;
    background-color: #f7f7f7;
    margin-bottom: 56px;
}
.aboutPage .section2 .wrapper {
    align-items: flex-start;
}
.aboutPage .section2 .lft {
    margin-right: 72px;
    max-width: 45%;
}
.aboutPage .section2 .lft .img_flex {
    height: 175px;
    overflow: hidden;
    margin: 30px 0;
}
.aboutPage .section2 .lft .img_flex .img {
    height: 100%;
    margin-right: 16px;
}
.aboutPage .section2 .lft .img_flex .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutPage .section2 .lft .main_btn {
    justify-content: center;
    margin: auto;
    margin-top: 35px;
}
.aboutPage .section2 .rgt .img {
    width: 100%;
    max-height: 386px;
    overflow: hidden;
    margin-top: 30px;
}
.aboutPage .section2 .rgt .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutPage .about_service {
    padding-bottom: 125px;
}
.aboutPage .service_box {
    padding: 0;
    width: 311px;
}
.aboutPage .service_box::after {
    display: none;
}
.aboutPage .service_box:hover .title {
    color: #171c26;
}
.aboutPage .service_box:hover .para {
    color: #778197;
}
.aboutPage .about_service .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
.aboutPage .about_service .flex div:first-child {
    max-width: 596px;
}

@media screen and (max-width: 1400px) {
    .aboutPage .about_service .grid {
        margin-left: 40px;
        grid-gap: 22px;
    }
    .aboutPage .section2 .lft {
        margin-right: 40px;
    }
    .aboutPage .showcase .content {
        margin-right: 0;
    }
}
@media screen and (max-width: 1200px) {
    .aboutPage .service_box {
        width: 267px;
    }
}
@media screen and (max-width: 1000px) {
    .aboutPage .about_service {
        padding-bottom: 71px;
    }
    .aboutPage .about_service .flex {
        flex-direction: column;
    }
    .aboutPage .about_service .flex div:first-child {
        max-width: none;
    }
    .aboutPage .about_service .grid {
        margin-left: 0;
        width: 100%;
        margin-top: 40px;
    }
    .aboutPage .service_box {
        width: 100%;
    }
    .aboutPage .section2 {
        padding: 47px 0;
    }
}
@media screen and (max-width: 900px) {
    .aboutPage .section2 .wrapper {
        flex-direction: column;
    }
    .aboutPage .section2 .lft {
        margin-right: 0;
        margin-bottom: 40px;
        max-width: none;
    }
    .aboutPage .section2 .lft .img_flex {
        justify-content: flex-start;
    }
    .aboutPage .showcase {
        background-position: right;
    }
    .aboutPage .showcase .content {
        max-width: none;
    }
    .aboutPage .showcase .checks .item {
        margin-bottom: 5px;
        margin-right: 21px;
    }
    .aboutPage .showcase {
        padding-top: 35px;
        padding-bottom: 54px;
    }
}
@media screen and (max-width: 700px) {
    .aboutPage .about_service .grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 500px) {
    .aboutPage .showcase h4 {
        font-size: 26px;
        margin-bottom: 8px;
    }
}
